@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono:wght@400;700&family=Rubik:wght@400;700&display=swap');

body, ul, li, a, nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
}

body {
    background-color: #000000;
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-size: cover;
    margin: 0;
}

.navbar {
    background:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 60%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    margin: 0 auto; 
}

.navbar {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

.nav-container {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 10px 20px;
    justify-content: space-between; 
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


.nav-item {
    position: relative;
}

.nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: normal;
    padding: 10px 20px;
    display: block;
    border-radius: 40px;
    transition: background 0.3s ease-in-out;
}


.nav-link:hover {
    background: #000000;
    color: white;
    border-radius: 40px;
}


.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: rgb(0, 0, 0);
    color: #000000;
    transition: 0.4s;
}

.language-switcher {
    display: flex;
    align-items: center;
    margin-left: auto; 
    font-family:  'Rubik', sans-serif;;
  }
  

.language-switcher select {
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 40px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.language-switcher select:hover{
    background-color: #000000;
    color: white;
}
  

@media (max-width: 768px) {
    
    .nav-menu {
        flex-direction: column;
        background: #000000;
        color: white;
        position: fixed;
        top: 12%;
        left: -100%;
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
        padding-top: 20px;
        transition: left 0.3s ease;
        border-radius: 10px;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        width: 100%;
    }

    .nav-link {
        color: white; 
        padding: 15px 20px; 
    }

    .nav-link:hover {
        color: rgb(0, 0, 0); 
        background-color: white;
        padding: 15px 20px; 
    }

    .dropdown {
        position: relative;
        top: 0;
        left: 0;
    }

    .dropdown-submenu {
        position: relative;
        left: 10%;
        top: 0;
    }

    .dropdown .dropdown-link {
        color: white; 
        margin: 10px 0; 
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle .bar {
        background: rgb(0, 0, 0); 
    }
}
