<header [class.sticky]="sticky">
  <nav class="navbar">
    <div class="nav-container">
      <ul class="nav-menu">
        <li *ngFor="let item of menu" class="nav-item">
          <a [routerLink]="item.route" class="nav-link">
            {{ item.name | translate }}
          </a>
        </li>
      </ul>

      <div class="language-switcher">
        <select id="language-select" (change)="changeLanguage($event)">
          <option *ngFor="let lang of languages" [value]="lang.name">{{ lang.name }}</option>
        </select>
      </div>

      <div class="auth-buttons">
        <button *ngIf="!isLoggedIn" (click)="goToLogin()">Login</button>
        <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>
</header>
