
<div class="background-container">
    <div class="overlay">
        <div class="cards">
            <div class="card red">
                <p class="tip">Service 1</p>
                <p class="second-text">Lorem Ipsum</p>
            </div>
            <div class="card blue">
                <p class="tip">Service 2</p>
                <p class="second-text">Lorem Ipsum</p>
            </div>
            <div class="card green">
                <p class="tip">Service 3</p>
                <p class="second-text">Lorem Ipsum</p>
            </div>
</div>
</div>
  