<div class="background-container">
    <div class="overlay">
     
      <div class="cards">
        <div class="card red">
          <p class="tip">{{ translationService.getTranslation('services.list.service1.title') }}</p>
          <p class="second-text">{{ translationService.getTranslation('services.list.service1.description') }}</p>
        </div>
        <div class="card blue">
          <p class="tip">{{ translationService.getTranslation('services.list.service2.title') }}</p>
          <p class="second-text">{{ translationService.getTranslation('services.list.service2.description') }}</p>
        </div>
        <div class="card green">
          <p class="tip">{{ translationService.getTranslation('services.list.service3.title') }}</p>
          <p class="second-text">{{ translationService.getTranslation('services.list.service3.description') }}</p>
        </div>
      </div>
    </div>
  </div>
  