<section class="video-background"> 
  <video autoplay muted id="bg-video">
    <source src="backgroun3.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="overlay">
    <div class="card">
      <h1>{{ translationService.getTranslation('home.welcome') }}</h1>
      <div class="card__content">
        <p class="card__title">{{ translationService.getTranslation('home.hello') }}</p>
        <p class="card__description">
          {{ translationService.getTranslation('home.description') }}
        </p>
      </div>
    </div>
  </div>
</section>
