<div class="background-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>{{ translationService.getTranslation('about.selectCar') }}</h2>

        <div *ngIf="isLoading && !carBrands.length" class="spinner-container">
          <div class="spinner">
            <div *ngFor="let _ of [].constructor(10); let i = index"></div>
          </div>
        </div>

        <div class="form-group">
          <label for="brand">{{ translationService.getTranslation('about.brand') }}</label>
          <select id="brand" [(ngModel)]="selectedBrand" (change)="onBrandChange()" class="form-control">
            <option value="">{{ translationService.getTranslation('about.selectBrand') }}</option>
            <option *ngFor="let brand of carBrands" [value]="brand.Make_Name">
              {{ brand.Make_Name }}
            </option>
          </select>
        </div>

        <div class="form-group" *ngIf="vehicleTypes.length">
          <label for="vehicleType">{{ translationService.getTranslation('about.vehicleType') }}</label>
          <select id="vehicleType" [(ngModel)]="selectedVehicleType" class="form-control">
            <option value="">{{ translationService.getTranslation('about.selectVehicleType') }}</option>
            <option *ngFor="let type of vehicleTypes" [value]="type.VehicleTypeName">
              {{ type.VehicleTypeName }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="year">{{ translationService.getTranslation('about.year') }}</label>
          <input type="number" id="year" [(ngModel)]="selectedYear" class="form-control"
            [placeholder]="translationService.getTranslation('about.enterYear')" />
        </div>

        <button (click)="loadModels()" class="btn btn-primary"
          [disabled]="!selectedBrand || !selectedVehicleType || !selectedYear">
          {{ translationService.getTranslation('about.loadModels') }}
        </button>
      </div>

      <div class="col-md-6">
        <div *ngIf="carModels.length">
          <h2>{{ translationService.getTranslation('about.availableModels') }}</h2>
          <ul>
            <li *ngFor="let model of carModels">{{ model.Model_Name }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <app-error-modal *ngIf="errorMessage" [errorMessage]="errorMessage" (close)="closeErrorModal()"></app-error-modal>
</div>
