<div class="sidebar" [class.active]="isSidebarActive">
  <div class="sidebar-content">
    <ul>
      <li *ngFor="let item of menu">
        <a [routerLink]="item.route">{{ item.name }}</a>
        
        <!-- Submenu for the item, shown on hover -->
        <ul *ngIf="submenu[item.route]" class="submenu">
          <li *ngFor="let subItem of submenu[item.route].items">
            <a [routerLink]="item.route + '/' + subItem">{{ subItem }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<input id="checkbox" type="checkbox"  />
<label class="toggle" for="checkbox" (click)="toggleSidebar()">
    <div id="bar1" class="bars"></div>
    <div id="bar2" class="bars"></div>
    <div id="bar3" class="bars"></div>
</label>
