<div class="sidebar" [class.active]="isSidebarActive">
  <div class="sidebar-content">
    <ul>
      <li *ngFor="let item of menu">
        <a [routerLink]="item.route">
          <i class="{{ item.icon }}" aria-hidden="true"></i>
          <span class="sidebar-text">{{ item.name }}</span>
        </a>
        

        <ul *ngIf="submenu[item.route]" class="submenu">
          <li *ngFor="let subItem of submenu[item.route].items">
            <a [routerLink]="item.route + '/' + subItem">
              <i class="fas fa-caret-right"></i>  
              {{ subItem }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<input id="checkbox" type="checkbox" />
<label class="toggle" for="checkbox" (click)="toggleSidebar()">
    <div id="bar1" class="bars"></div>
    <div id="bar2" class="bars"></div>
    <div id="bar3" class="bars"></div>
</label>
