.background-container {
    background-image: url('../../../../public/home-auth.jpg'); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }


.card {
    position: relative;
    width: 400px;
    height: 200px;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: scale(0.8);
    animation: zoomIn 0.6s ease-out forwards;
  }

  @keyframes zoomIn {
    0% {
        transform: scale(0.8); 
        opacity: 0;
    }
    100% {
        transform: scale(1); 
        opacity: 1; 
    }
}
  
  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover {
    transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card__content {
 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #000000;
    font-weight: 700;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  
  .card:hover svg {
    scale: 0;
    transform: rotate(-45deg);
  }
  

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  
  .overlay h1 {
    font-size: 2rem;
    font-weight: normal;
    font-family: 'Rubik', sans-serif;
  }

  label {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .personalization-form {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
    padding: 20px; 
    width: 300px; 
  }
  
  .personalization-form > * {
    margin-bottom: 15px; 
  }
  
  .personalization-form button {
    width: 100%; 
  }
  

  #language-select {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 40px;
    transition: background-color 0.3s ease, color 0.3s ease;
    transition: border-color 0.3s;
  }
  
  #language-select:hover {
    border-color: #000000;
    outline: none;
  }

button {
  padding: 10px 40px;
    font-size: 14px;
    border-radius: 40px;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
 button:hover {
    background-color: #000000;
    color: white;
  }
  


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal-content {
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

  
 